.DS_Store
.idea/
config/.env.testing
config/.env.production
__pycache__/
*.pyc
*.pyo
logs/
# ignore all .env files
*.env
# but track config/.env for sample/testing
!config/.env
# Ignore config env files unless explicitly tracked
config/.env.prod
auto_form_submitter/